<div class="container-head-name">
    <h1>Choose a Location</h1>
  </div>
<div style="width: 100%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



<div class="text-location">
<span><i class="fa-solid fa-location-dot">Choisir la localisation</i></span>
</div>

<div class="btn-home">
  <a linkto= home_path> Results</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const geocoder = new MapboxGeocoder({
      accessToken: '<%= ENV["MAPBOX_API_KEY"] %>',
      mapboxgl: mapboxgl,
    });
    geocoder.addTo('#geocoder');
  });
</script>
