.card-container-category{
  //center it
  display: flex;
  justify-content: center;
  //make the items wrap inside the container
  flex-wrap: wrap;
  //add a little margin between the items
  margin: 0 10px;
  //add a little margin between the container and the edge of the screen
  padding: 10px;
  //add a little space between the items
  gap: 10px;
}
.page-category{
  height: 173vh;
  overflow-y: scroll;
}


  .containersearchcategory {
    max-width: 80%;
  }

  .searchcontainercategory {
    position: relative;
    display: flex;
    width: 100%;
  }
