// Specific CSS for your home-page

// Search bar

body{

  background: #d1d5db;
}

.height{

  height: 100vh;
}

.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

// .form span{

//       position: absolute;
//   right: 17px;
//   top: 13px;
//   padding: 2px;
//   border-left: 1px solid #d1d5db;

// }

// .left-pan{
//   padding-left: 7px;
// }

// .left-pan i{

//  padding-left: 10px;
// }

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

// .search-container {
//   max-width: 80%;
//   margin: 50px auto;
//   overflow: hidden;
//   display: flex;
// }

// input[type="text"] {
//   width: 100%;
//   padding: 10px;
//   font-size: 16px;
//   border: 1px solid #ccc;
//   border-radius: 5px 0 0 5px;
//   outline: none;
// }

// button {
//   width: 20%;
//   padding: 5px;
//   // background: #2196F3;
//   // color: #fff;
//   font-size: 16px;
//   // border: 1px solid #2196F3;
//   border-radius: 0 5px 5px 0;
//   cursor: pointer;
// }

// button:hover {
//   background: #0b7dda;
// }

// /* FontAwesome Icons */
// .fa {
//   font-size: 20px;
// }

// /* Responsive Styles */
// @media only screen and (max-width: 600px) {
//   .search-container {
//       max-width: 100%;
//   }

//   input[type="text"] {
//       width: 70%;
//   }

//   button {
//       width: 30%;
//   }
// }


// Food card
.card-trip {
  width: 295px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
  margin: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
