.container-head-name>h1{
  position: relative;
  text-align: center;
  .text-location>h1{
    position: absolute;
   left: auto;
  }
}
#bth_search{
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #272a27;
  color: white;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none;
}
#bth_search:hover{
  background-color: #3e8e41;
}
