// Import page-specific CSS files here.
@import "home";

body {
  height: 100;
}

.container-head-name>h1 {
  margin: 25px;
  text-align: center;

}

.bth-research>.bth-research{
border-radius: 2.5rem;
}
