
.container-head-name{
  position: relative;
  text-align: center;
}
.text-location{
  position: relative;
text-align: center;
}
.carte-info{
  background-color: beige;
}
.btn-home {
  background-color: #201095;
  color: #fff;
  align-content: center;
  border: 10px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  bottom: -20px;
  padding: 8px 16px;
  width: 10vh;
}
