// Import page-specific CSS files here.
@import "home";

// My profile

// Back- button

.back-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin: 20px;
  background-color: #7BB35D;
  opacity: 0.5;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5e8e3e;
}

.fa-chevron-left {
  margin-right: 5px;
}

// Paramètres

.container-profile {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.container-profile i {
  color: black;
}


.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header i {
  margin-right: 10px;
  color: #000000; /* Couleur de l'icône */
}

// .header h1 {
//   margin: 0;
//   font-size: 24px;
// }

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.content p {
  margin: 0;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
}
