.splash_click{
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 30px; */
  background-color: red;
  z-index: 7;
  clip-path: ellipse(60% 50% at 50% 20%);
}
.blue-button {
  background-color: #201095;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 600px) {
  .blue-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
