.imgsplash {
  position: fixed;
  z-index: 9999;
  top: 50%; /* Move the element 50% down from the top */
  left: 50%; /* Move the element 50% from the left */
  transform: translate(-50%, -50%); /* Center the element */
}
