// .container {
//   position: relative;
// }

// .splash-image {
//   position: relative;
// }

.splash_click {
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 7;
  clip-path: ellipse(60% 50% at 50% 20%);
  background-image: url("https://res.cloudinary.com/dkhggfhkc/image/upload/q_60/v1700152377/Bakery/angelo-pantazis-2-U0A2tNYhM-unsplash_hbsk6h.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-demarrer {
 top:70%;
}

.splash-button {
  /* Button styles */
  position: absolute;
  // left: 150px;
  // margin: 0 auto;
  padding: 12px 24px;
  background-color: #201095;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
}

.splash-button:hover {
  /* Hover effect styles */
  background-color: #201095;
}

@media screen and (max-width: 768px) {
  /* Adjust button size for smaller screens */
  .splash-button {

    font-size: 14px;
  }
}
// .blue-button {
//   background-color: #201095;
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 10px;
//   cursor: pointer;
//   font-size: 16px;
// }
// @media (max-width: 600px) {
//   .blue-button {
//     font-size: 14px;
//     padding: 8px 16px;
//   }
// }
