/* profile.css */
#profile-heading {
  /* Styles for the profile heading */
  font-size: 24px;
  color: #333;
}

.profile-link {
  /* Styles for profile links */
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

#logout-link {
  /* Styles for the logout link */
  color: red;
  text-decoration: none;
}

.login-link {
  /* Styles for the login link */
  color: green;
  text-decoration: none;
}
