

.page-scroll{
  height: 150vh;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h1 {
    padding-top: 0.5rem;
  }
}

.back-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin: 20px;
  background-color: #7BB35D;
  opacity: 0.5;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5e8e3e;
}

.fa-chevron-left {
  margin-right: 5px;
}

.container-surprise-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  position: relative;
}

#img-gif-basket {
  text-align: center;
}

#img-gif-basket img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.surprise-button {
  margin: 0 auto;
  padding: 12px 24px;
  background-color: #201095;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.surprise-button:hover {
  background-color: #201095;
}

@media screen and (max-width: 768px) {
  .surprise-button {
    font-size: 14px;
  }
}
