<%# <%= link_to "add", favourit_new_path(@basket.id) %>
<div class="basket">
  <div class="banner">
    <div class="banner-img">

    </div>
  </div>
  <div class="bth-main">
  <a href="#" class="bth-description-price">description</a>
  <a href="#" class="bth-description-price">price</a>

  </div>

    <div class="contanier">

      <%= @baskets.name %>
      <%= @baskets.description %>
       <a href="<%= cart_new_path(@baskets.id) %>" class="bth-book">Book</a>
  </div>
</div>
