<div class="banner">
  <div class="banner-img">
  </div>
  <span class="heart-icon"><i class="fa-regular fa-heart"></i></span>
</div>

<div class="container-center">
  <h3 class="business-title"><%= @business.name %></h3>
  <span><i class="fa-solid fa-star"></i> 4.5</span>
</div>

<div class="basket-infos">
  <div class="basket-price">
    <h2><i class="fa-solid fa-basket-shopping"></i>basket suprise</i></h2>
    <h2><%= @baskets.price %>MUR</h2>
  </div>
  <span><i class="fa-solid fa-clock"></i>Pick-up tomorrow 2PM-5PM</span>
  <br>
</div>
<div class="container-address">
  <span><i class="fa-solid fa-location-dot"></i>address</span>
</div>

<div class="container-low">
  <h1><strong>hi</strong></h1>
  <p><%= @baskets.description %></p>
</div>
  <a href="<%= cart_new_path(@baskets.id) %>" class="custom-button">Book</a>
