<h3 class="fa-solid fa-heart"> Your favorits </h3>

<% @favourites.each do |fav| %>
  <% @fav_bask = Basket.where(id: fav.basket_id) %>
  <% @fav_bask.each do |bask| %>
  <%@bus = Business.where(id: bask.business_id)%>
  <div class="main-container">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dkhggfhkc/image/upload/v1700152377/Bakery/angelo-pantazis-2-U0A2tNYhM-unsplash_hbsk6h.jpg" />
    <span>
    </span>
    <div class="card-trip-infos">
      <div>
        <a  href="<%= basket_path(bask.id) %>" >Surprise basket</a>
        <p> <%=bask.availability%></p>
      </div>
        <div class="business-name">
          <span><%=@bus.name%></span> 
        </div>
        <div class="round-logo"></div>
    </div>
    <div class="card-trip-infos pt-0">
          <div>
            <span><i class="fa-solid fa-star"></i> </span>
          </div>
          <h2><%=bask.price%></h2>
        </div>
    </div>
  </div>
</div>
  <% end %>
<% end %>
