<nav class="bottom_nav">
  <div class="nav_container">
   <ul class="nav_links_container">
      <li class="nav-link">
        <%= link_to home_path, class: "nav_item" do %>
          <div class="icon_container">
          <i class="fa-solid fa-house"></i>
          <p class="body">
            Découvrir
          </p>
          </div>
        <% end %>
    </li>
    <li class="nav-link">
          <%= link_to businesses_path, class: "nav_item" do %>
          <div class="icon_container">
          <i class="fa-solid fa-magnifying-glass"></i>
          <p class="body">
            Parcourir
          </p>
          </div>
          <% end %>
    </li>
    <li class="nav-link">
          <%= link_to favourit_path, class: "nav_item" do %>
          <div class="icon_container">
          <i class="fa-solid fa-heart"></i>
          <p class="body">
            Favoris
          </p>
          </div>
          <% end %>
    </li>
    <li class="nav-link">
          <%= link_to profile_path, class: "nav_item" do %>
          <div class="icon_container">
          <i class="fa-solid fa-user"></i>
          <p class="body">
            Profil
          </p>
          </div>
          <% end %>
    </li>
   </ul>
  </div>
</nav>
