
<p class="body">Port Louis - Cart</p>

<%# Search Bar %>

<div class="search-container">
    <input type="text" placeholder="Rechercher...">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>

<%# Cards %>

<p class="body">Recommended for you</p>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Surprise bag</h2>
      <p>Pick-up tomorrow 2:00 PM - 5:00 PM</p>
    </div>
    <h2 class="card-trip-pricing">150 MUR</h2>
     <i class="fa-solid fa-heart" class="card-trip-user avatar-bordered"></i>
  </div>
</div>
