<div class="container">
  <%# Localisation %>
    <p><i class="fa-solid fa-location-dot"></i> Port louis </p>
    <p>À moins de 10km</p>

  <%# Search Bar %>
  <div class="container-search home">
    <div class="">
      <div class="search-field">
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search">
          <%# <span class="left-pan"><i class="fa fa-microphone"></i></span> %>
        </div>
      </div>
    </div>
  </div>

  <%# Categories buttons %>

    <div class="round-button"><i class="fas fa-home"></i></div>
    <div class="round-button"><i class="fas fa-bell"></i></div>
    <div class="round-button"><i class="fas fa-cog"></i></div>

  <%# Cards %>
  <p class="text-start">Recommended for you</p>

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dkhggfhkc/image/upload/v1700152377/Bakery/angelo-pantazis-2-U0A2tNYhM-unsplash_hbsk6h.jpg" />
    <span>
    </span>
    <div class="card-trip-infos">
      <div>
        <h2>Surprise basket</h2>
        <p>Pick-up tomorrow 2:00 PM - 5:00 PM</p>
      </div>
        <div class="business-name">
          <span>Business Name</span>
        </div>
        <div class="round-logo"></div>
      <span class="heart">Save </span>
    </div>
    <div class="card-trip-infos pt-0">
          <div>
            <span><i class="fa-solid fa-star"></i> 4.5</span>
          </div>
          <h2>£99.99</h2>
        </div>
    </div>
  </div>

  <p class="text-start">Save before it's too late</p>
