

<%# Search Bar %>

<div class="container-search">
  <span>Locations: </span>
  <div class="">
    <div class="search-field">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search">
        <%# <span class="left-pan"><i class="fa fa-microphone"></i></span> %>
      </div>
    </div>
  </div>
</div>

<%# Categories buttons %>


<%# Cards %>

<p class="body">Recommended for you</p>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-product-infos">
    <div>
      <%
=begin%>
 <h2>Surprise bag</h2>
<%
=end%>
      <%= link_to "basket", basket_path(51)%>
      <p>Pick-up tomorrow 2:00 PM - 5:00 PM</p>
    </div>
    <h2 class="card-product-pricing">150 MUR</h2>
     <i class="fa-solid fa-heart" class="card-product-favorite"></i>
  </div>
</div>
