<div class="splash-container">
  <div class="splash-image">
    <div class="splash_click"></div>
  </div>

  <div class="container-demarrer">
    <a href="<%= home_path %>" class="splash-button">Démarrer</a>
  </div>
</div>
