
 <%= link_to "home", home_path , class: "" %>

  <div class="splash">
  <%= link_to "", splashlogin_path , class: "splash_click" %>

  </div>
  <div class="splash-low">
  <button class=“blue-button”>Cliquez-moi</button>
  </div>
