<% if current_user %>
  <div class="new-button-container">
    <%= link_to :back, class: "back-button" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1>Ce que vous devez savoir</h1>
  </div>
  <div class="page-scroll">

  <div id="img-gif-basket">
    <%= image_tag("Surprise basket.gif", alt: "Surprise Basket GIF") %>
  </div>

  <div class="container-surprise-basket">
    <h1>Votre panier est une surprise</h1>
    <div class="content">
      <p>On aimerait pouvoir vous dire ce qu'il y aura exactement dans votre Panier Surprise - mais cela sera toujours une surprise!
        <br>Le commerçant le remplira de ses invendus du jour. Pour toute question sur les allergènes ou la composition, veuillez demander au commerçant pendant la collecte.</p>
    </div>

    <%= link_to "J'ai compris !", cart_payment_path(@params), class: "surprise-button" %>
  </div>

</div>
<% else %>
  <div class="login">
    <!-- Link to Devise default login page -->
    <a href="<%= new_user_session_path %>" class="login-link">Se connecter</a>
  </div>
<% end %>
