<!-- Form -->
<form action="<%= cart_show_path(@params) %>" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>

  <label for="cardnum">Card number:</label><br>
  <input type="text" id="cardnum" name="cardnum"><br>

  <label for="expdate">Expiration date:</label><br>
  <input type="text" id="expdate" name="expdate"><br>

  <label for="cvv">CVV:</label><br>
  <input type="text" id="cvv" name="cvv"><br>

  <p>By clicking Submit, you agree to our Terms and Conditions.</p>
  <input type="submit" value="Submit">
</form>
