<div class="thanks-container">
s  <div class="container-thanks">
    <img src="https://res.cloudinary.com/dkhggfhkc/image/upload/v1701882566/czvkfptbcbrg7hjgebbv.png" alt="Save the plate" class="logo">
    <h1>Merci pour votre achat !</h1>
    <a href="<%= profile_bookings_path %>" class="thanks-button">Voir mes commandes</a>
  </div>

  <div class="thanks-image"></div>
</div>
