h1 {
  color: rgb(0, 0, 0);
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-decoration: none;
}

body {
  color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  background-color: white;
}

a   {
  color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
