.bottom_nav {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  text-decoration: none;
}

.nav_container {
  width: 100%;
  padding: 0 20px;
  background-color: white;
}

.nav_links_container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px 0;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav_item {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.bottom_nav i {
  color: #949494;
  font-size: 17px;
}

.icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for the active state */
.nav-link.active .icon_container i,
.nav-link.active .icon_container .navbar-text {
  color: #201095;
}

.navbar-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  color: #949494;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
