.bottom_nav {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  text-decoration: none;
}

.nav_container {
  width: 100%;
  padding : 0 10px;
}

.nav_links_container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px 0;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav_item {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.bottom_nav i {
  color: rgb(81, 80, 82);
  font-size: 17px;
}

.icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    color: gray;
    font-family: 'Barlow', sans-serif;
    margin: 0;
  }
}
