@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Montserrat:wght@100;200;500&family=Noto+Sans:ital,wght@0,300;1,100&display=swap');


.title1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

.title2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

.body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05em;
  text-decoration: none;
  color: gray;
}
