<%if current_user%>

<h1>Bookings:</h1>
<div class="booking">
<%@booking.each do |booking|%>
<%@booked_basket = Basket.where(id: booking.basket_id)%>
 <%@booked_basket.each do |booked_bask|%>
 <p></p>
<a href="<%= basket_path(booked_bask.id) %>"> <%= booked_bask.name%></a>
 <p></p>
 <%end%>
<%end%>
</div>
<%end%>
