<%if current_user%>
<h1>
Hello
<%= @user.first_name%>
</h1>
<%= link_to "orders", profile_bookings_path %>




 <%= link_to "Log out", destroy_user_session_path , class: "dropdown-item", data: {turbo_method: :delete} %>
<%else%>

<div class="login">
  <!-- Link to Devise default login page -->
  <a href="<%= new_user_session_path %>">Login</a>
</div>
<%end%>
